body {
    background-color:rgb(251, 228, 255);
}

.heading {
    /* margin-left: 540px; */
    text-align: center;
    font-family: Verdana;
    font-size: 50px;
}

video {
    position: relative;
    /* background-color:rgb(57, 26, 62); */
    /* transform: rotateY(180deg); */
    /* -webkit-transform:rotateY(180deg); Safari and Chrome */
    /* -moz-transform:rotateY(180deg); Firefox */
}

.center {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

canvas {
    position: absolute;
}